<a href="https://colab.research.google.com/github/SIRIUS-webkit/Titanic_kaggle_submission/blob/main/Titanic_kaggle_competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd

In [42]:
train = pd.read_csv("/content/train.csv")
test = pd.read_csv("/content/test.csv")
test_ids = test["PassengerId"]

In [43]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [44]:
def dataclean(data):
  data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1)
  cols = ["SibSp", "Parch", "Fare", "Age"]
  for col in cols:
    data[col].fillna(data[col].median(), inplace=True)
  data.Embarked.fillna("U", inplace=True)
  return data
train = dataclean(train)
test = dataclean(test)

In [45]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [46]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ["Sex", "Embarked"]
for col in cols:
  train[col] = le.fit_transform(train[col])
  test[col] = le.fit_transform(test[col])
print(train.head(5))

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
y = train["Survived"]
X = train.drop("Survived", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [48]:
clf = LogisticRegression(random_state=3, max_iter=3000).fit(X_train,y_train)

In [49]:
predictions = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8100558659217877

In [50]:
submission_predict = clf.predict(test)

In [52]:

df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Survived":submission_predict,
                  })

In [53]:
df.to_csv("mysubmission.csv", index=False)